@charset "utf-8";
/* CSS Document */


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,p{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;}body{line-height:1.4; font-family:Arial, Helvetica, sans-serif;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0;/*firefox*/}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
a{ blr:expression(this.onFocus=this.blur());/*ie*/ text-decoration:none;}
li,img{ border:0; margin:0; display:inline;}


#xxlogin{ width:248px; height:226px;  background:#fffbe8; border:#d6d6d6 1px solid; font-size:12px; color:#5e5e5e; padding-left:20px; padding-right:20px; }
.xxlogin_top{ margin-top:20px;border-bottom:#5e5e5e 1px dashed; padding-left:15px; margin-bottom:10px; }
.xxlogin_top li img{ padding-bottom:10px;}
.xxlogin_foot{margin-left:19px;margin-right:19px;overflow:hidden;}

.xxlogin_foot li span{ padding-top:12px; height:30px;}
.xxlogin_foot img{ padding-right:14px; padding-top:13px;}


#registration_xx{
	width:500px;
	height:280px;
	overflow:hidden;

}
.registration_top{ background:rgb(231,218,248); width:500px;padding-top:10px; padding-left:23px; border:#dbd9dc 1px solid; overflow:hidden;}

.reg_font{ color:#603089; font-size:12px; float:right; padding-right:10px;}
.reg_font a{color:#603089; width:700px; }
.reg_tittle{ font-weight:900;font-family:"微软雅黑"; color:#603089; font-size:20px; display:block; margin-bottom:7px; margin-top:10px; float:left;}
.reg_input{ height:32px;width:690px; display:block;float:left; margin-top:10px; margin-bottom:5px; }
.reg_span{ height:12px;width:690px; display:block;float:left; margin-top:10px; margin-bottom:5px; }
.input{ width:170px; height:29px; border:#afaeac 1px solid; margin-right:4px; color:#979797; line-height:29px; padding-left:5px; float:left;}
.input_foot{ color:#666467; font-size:12px;FLOAT: left;}
.input_foot span{ color:#666467;padding-left:245px; padding-right:140px;}
#msg{margin-left: 90px;color:#F00; font-size:12px; padding-right:10px;}
.registration_foot{background:#f0eced;width:693px; height:44px; border:#d7d5d6 1px solid; font-size:14px; font-weight:bold; color:#474747; padding-top:13px; padding-left:25px; display:block;}
.registration_foot li{float:left;}
#captchaimg{cursor:pointer;}
.t9 {
	background:url(/images/login.png) no-repeat;
	border-left: 0;
   border-right: 0;
   border-top: 0;
   border-bottom: 0;
   cursor:pointer;
}
.t10 {
	background:url(/images/reg.png) no-repeat;
	border-left: 0;
   border-right: 0;
   border-top: 0;
    border-bottom: 0;
    cursor:pointer;
}
.registration_foot_text{float:left; padding-left:10px;}
.title_span{font-size:13px; float:left; padding-right:10px;margin-top: 8px};
.yzm_login{ position:relative;width:64px; height:26px; float:left; top:-35px; left:-65px;}
