body {
	background-image: url(../images/bg1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: "微软雅黑";
	color: #FFF;
}
.ct0 {
	font-weight: bold;
}
.ct01 {
	font-weight: bold;
	font-size: 16px;
font-family: "微软雅黑";
}
