#DIV_1 {
    color: rgb(109, 110, 112);
    height: 165px;
    left: 304px;
    position: absolute;
    text-align: center;
    top: 247px;
    width: 400px;
    z-index: 99999;
    align-self: stretch;
    perspective-origin: 200px 82.5px;
    transform-origin: 200px 82.5px;
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -200px;
    outline: rgb(109, 110, 112) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    clear: both;
    color: rgb(109, 110, 112);
    display: block;
    text-align: center;
    visibility: hidden;
    width: 400px;
    perspective-origin: 200px 0px;
    transform-origin: 200px 0px;
    content: '.';
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
}/*#DIV_1:after*/

#DIV_2 {
    background-position: 0% -50px;
    color: rgb(109, 110, 112);
    height: 30px;
    position: relative;
    text-align: center;
    top: 3px;
    width: 390px;
    perspective-origin: 200px 15px;
    transform-origin: 200px 15px;
    background: rgba(0, 0, 0, 0) url(http://localhost/css/img/uPopIco24.png) no-repeat scroll 0% -50px / auto padding-box border-box;
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/30px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
    overflow: hidden;
    padding: 0px 0px 0px 10px;
}/*#DIV_2*/

#DIV_2:after {
    clear: both;
    color: rgb(109, 110, 112);
    display: block;
    text-align: center;
    visibility: hidden;
    width: 390px;
    perspective-origin: 195px 0px;
    transform-origin: 195px 0px;
    content: '.';
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/30px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
}/*#DIV_2:after*/

#H2_3 {
    background-position: 100% -98px;
    color: rgb(109, 110, 112);
    height: 30px;
    text-align: center;
    width: 370px;
    perspective-origin: 195px 15px;
    transform-origin: 195px 15px;
    background: rgba(0, 0, 0, 0) url(http://localhost/css/img/uPopIco24.png) no-repeat scroll 100% -98px / auto padding-box border-box;
    border: 0px none rgb(109, 110, 112);
    font: normal normal bold normal 12px/30px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(109, 110, 112) none 0px;
    overflow: hidden;
    padding: 0px 20px 0px 0px;
}/*#H2_3*/

#SPAN_4 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: 30px;
    text-align: center;
    width: 109px;
    perspective-origin: 54.5px 15px;
    transform-origin: 54.5px 15px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 14px/30px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_4*/

#A_5 {
    background-position: -207px 0px;
    color: rgb(223, 36, 92);
    cursor: pointer;
    display: block;
    height: 21px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-decoration: none;
    text-indent: -99999px;
    top: 5px;
    width: 21px;
    align-self: stretch;
    perspective-origin: 10.5px 10.5px;
    transform-origin: 10.5px 10.5px;
    background: rgba(0, 0, 0, 0) url(http://localhost/css/img/uPopIco24.png) no-repeat scroll -207px 0px / auto padding-box border-box;
    border: 0px none rgb(223, 36, 92);
    font: normal normal bold normal 12px/30px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(223, 36, 92) none 0px;
}/*#A_5*/

#DIV_6 {
    color: rgb(109, 110, 112);
    height: 125px;
    text-align: center;
    width: 400px;
    perspective-origin: 200px 62.5px;
    transform-origin: 200px 62.5px;
    background: rgb(244, 233, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
    overflow: hidden;
}/*#DIV_6*/

#DIV_6:after {
    clear: both;
    color: rgb(109, 110, 112);
    display: block;
    text-align: center;
    visibility: hidden;
    width: 400px;
    perspective-origin: 200px 0px;
    transform-origin: 200px 0px;
    content: '.';
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
}/*#DIV_6:after*/

#DIV_7 {
    color: rgb(1, 1, 1);
    height: 24px;
    text-align: center;
    width: 300px;
    perspective-origin: 200px 35px;
    transform-origin: 200px 35px;
    border: 0px none rgb(1, 1, 1);
    font: normal normal normal normal 14px/24px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(1, 1, 1) none 0px;
    padding: 36px 50px 10px;
}/*#DIV_7*/

#DIV_7:after {
    clear: both;
    color: rgb(1, 1, 1);
    display: block;
    text-align: center;
    visibility: hidden;
    width: 300px;
    perspective-origin: 150px 0px;
    transform-origin: 150px 0px;
    content: '.';
    border: 0px none rgb(1, 1, 1);
    font: normal normal normal normal 14px/24px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(1, 1, 1) none 0px;
}/*#DIV_7:after*/

#DIV_8 {
    color: rgb(109, 110, 112);
    height: 24px;
    text-align: center;
    width: 400px;
    perspective-origin: 200px 27.5px;
    transform-origin: 200px 27.5px;
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 14px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
    padding: 16px 0px 15px;
}/*#DIV_8*/

#DIV_8:after {
    clear: both;
    color: rgb(109, 110, 112);
    display: block;
    text-align: center;
    visibility: hidden;
    width: 400px;
    perspective-origin: 200px 0px;
    transform-origin: 200px 0px;
    content: '.';
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 14px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
}/*#DIV_8:after*/

#A_9 {
    background-position: 0% -1400px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 24px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 46px;
    perspective-origin: 32px 12px;
    transform-origin: 32px 12px;
    background: rgba(0, 0, 0, 0) url(http://localhost/css/img/pubIco24.png) no-repeat scroll 0% -1400px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14px/24px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    margin: 0px 12px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 0px 0px 18px;
}/*#A_9*/

#I_10 {
    background-position: 100% -1426px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    text-align: center;
    width: 28px;
    perspective-origin: 23px 12px;
    transform-origin: 23px 12px;
    background: rgba(0, 0, 0, 0) url(http://localhost/css/img/pubIco24.png) no-repeat scroll 100% -1426px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14px/24px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 18px 0px 0px;
}/*#I_10*/

#DIV_11 {
    background-position: 0% -300px;
    color: rgb(109, 110, 112);
    height: 10px;
    text-align: center;
    width: 390px;
    perspective-origin: 200px 5px;
    transform-origin: 200px 5px;
    background: rgba(0, 0, 0, 0) url(http://localhost/css/img/uPopIco24.png) no-repeat scroll 0% -300px / auto padding-box border-box;
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
    overflow: hidden;
    padding: 0px 0px 0px 10px;
}/*#DIV_11*/

#DIV_11:after {
    clear: both;
    color: rgb(109, 110, 112);
    display: block;
    text-align: center;
    visibility: hidden;
    width: 390px;
    perspective-origin: 195px 0px;
    transform-origin: 195px 0px;
    content: '.';
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
}/*#DIV_11:after*/

#SPAN_12 {
    background-position: 100% -340px;
    color: rgb(109, 110, 112);
    display: block;
    height: 10px;
    text-align: center;
    text-indent: -9999px;
    width: 390px;
    perspective-origin: 195px 5px;
    transform-origin: 195px 5px;
    background: rgba(0, 0, 0, 0) url(http://localhost/css/img/uPopIco24.png) no-repeat scroll 100% -340px / auto padding-box border-box;
    border: 0px none rgb(109, 110, 112);
    font: normal normal normal normal 12px/20px 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif;
    list-style: none outside none;
    outline: rgb(109, 110, 112) none 0px;
}/*#SPAN_12*/